<h1> <%= image_tag("32/list.png") %> Edit list </h1>

<% form_for @list do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <br/>
  <%= f.submit "Update" %>
<% end %>
<br />
<%= link_to "Back", list_path %>

